body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.sr-only,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  white-space: nowrap;

  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
