.container {
}

.features-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.features-item-headline {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-description {}