.visually-hidden {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .services-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .services-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.services-item {
  width: 100%;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .services-item {
    width: calc((100% - 24px) / 2);
    max-width: none;
  }
}

@media screen and (min-width: 1158px) {
  .services-item {
    width: calc((100% - 72px) / 4);
  }
}

.icon-box {
  display: none;
}

@media screen and (min-width: 1158px) {
  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
  }
}

.services-heading {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

@media screen and (min-width: 768px) {
  .services-heading {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .services-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.services-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 1158px) {
  .services-description {
    font-weight: 400;
  }
}
