.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-part {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-and-dscr-footer {
  margin-right: 120px;
}

.logo-footer {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.logo-accent-footer {
  color: #f4f4fd;
}

.footer-description {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-wrapper {
  display: flex;
  flex-direction: column;
}

.social-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-item {
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon-svg {
  fill: #f4f4fd;
}

.subscribe-wrapper {
  margin-left: 83px;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-footer-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  outline: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus,
.subscribe-input:hover {
  border-color: #31d0aa;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-button {
  padding: 8px 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  max-width: 165px;
  background-color: #4d5ae5;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:focus,
.subscribe-button:hover {
  background-color: #31d0aa;
  border-color: #31d0aa;
}

.subscribe-svg {
  margin-left: 16px;
  fill: #fff;
}
