.modal-overlay-burger-menu {
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-overlay-burger-menu {
    display: none;
  }
}

.modal-overlay-burger-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-burger-menu {
  width: 100%;
  height: 100%;
  padding: 72px 24px 40px 16px;
}

.button-close-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  stroke: #2e2f42;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 24px;
  right: 24px;
}

.icon-close-cross-burger {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-burger-menu:hover,
.button-close-burger-menu:focus {
  background-color: #404bbf;
  border: none;
}

.button-close-modal:hover .icon-close-cross-burger,
.button-close-modal:focus .icon-close-cross-burger {
  fill: #ffffff;
}

.navigation-list-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  margin-bottom: 168px;
}

.navigation-link-mobile {
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-mobile:hover,
.navigation-link-mobile:focus {
  color: #404bbf;
}

.address-list-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  margin-bottom: 48px;
}

.contact-info-mobile {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info-mobile:hover,
.contact-info-mobile:focus {
  color: #4d5ae5;
}

.social-list-burger {
  display: flex;
  gap: 40px;
}

.social-item-burger {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.social-link-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-burger {
  fill: #f4f4fd;
}

.social-link-burger:hover,
.social-link-burger:focus {
  background-color: #31d0aa;
}
