.container {
}
.portfolio-headline {
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
}
.portfolio-list-element {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-element:hover,
.portfolio-list-element:focus {
    box-shadow:
            0 2px 1px rgba(46, 47, 66, 0.08),
            0 1px 1px rgba(46, 47, 66, 0.16),
            0 1px 6px rgba(46, 47, 66, 0.08);
}


.portfolio-list-element:hover .overlay,
.portfolio-list-element:focus .overlay{
    transform: translateY(0);
}

.image-overlay-container {
position: relative;
overflow: hidden;}

.portfolio-element-image {
}

.overlay {
    transform: translateY(100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;

    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-element-wrapper {
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
}
.portfolio-element-headline {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}
.portfolio-element-description {
}