body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-main {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.navigation-list,
.address-list {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.active-item {
  position: relative;
}

.navigation-link.active-item {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  overflow: visible;
  bottom: -1px;

}

.navigation-link {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
}

.navigation-link:hover,
.navigation-link:focus {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.address {
  display: flex;
  font-style: normal;
}

.contact-info {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info:hover,
.contact-info:focus {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
}

.welcome-page {
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 188px 0;
}

.slogan-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}

.order-button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  height: 56px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 68px;
  min-width: 169px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.visually-hidden {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.services-item {
  flex-basis: 264px;
}

.icon-box {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  padding: 24px 100px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.services-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.services-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.employees {
  background-color: #f4f4fd;
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.employees-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.employees-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.name-position-container {
   padding: 32px 0;
}
.employees-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.employees-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.social-item {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:hover, 
.social-link:focus{
  background-color: #404bbf;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.empl-info-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  gap: 8px;
  width: 360px;
  height: 120px;
}

.portfolio-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}

/*
.portfolio-item-overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px 164px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}

.portfolio-item-active {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-item-active:hover .portfolio-item-overlay {
  transform: translateY(0);
  transition: transform 0.25s ease-in-out;
}

.portfolio-item-active:hover {
  box-shadow: 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 0.25s ease-in-out;
}

.footer-container {
  padding: 100px 0px;
  background-color: #2e2f42;
}

.footer-logo-paragraph {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.footer-flex-general {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-white {
  color: #f4f4fd;
}

.social-list-container {
  display: flex;
  flex-direction: column;
}

.social-media-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
}

.social-item-footer {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
  fill: #f4f4fd;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
